<html lang="zn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head></head>
<body th:fragment="common_foot" id= "common_foot">
<script type="text/javascript" th:src="@{js/jquery.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.nanoscroller/jquery.nanoscroller.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.sparkline/jquery.sparkline.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.easypiechart/jquery.easy-pie-chart.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.ui/jquery-ui.js}" ></script>
<script type="text/javascript" th:src="@{js/jquery.nestable/jquery.nestable.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.switch/bootstrap-switch.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.select2/select2.min.js}" ></script>
<script type="text/javascript" th:src="@{js/bootstrap.slider/js/bootstrap-slider.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.gritter/js/jquery.gritter.js}"></script>
<script type="text/javascript" th:src="@{js/behaviour/general.js}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        //initialize the javascript
        App.init();
    });
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/behaviour/voice-commands.js"></script>
<script src="js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="js/jquery.flot/jquery.flot.labels.js"></script>
</body>
</html>
