<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"/>
<div th:fragment="common_header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../images/favicon.png" />

    <title>电子人云平台</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{../js/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{../js/jquery.gritter/css/jquery.gritter.css}" />

    <link rel="stylesheet" th:href="@{../fonts/font-awesome-4/css/font-awesome.min.css}" />



    <link rel="stylesheet" href="../fonts/font-awesome-4/css/font-awesome.min.css"/>
   <!-- <link rel="stylesheet" href="../css/pygments.css"/>-->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{../js/jquery.nanoscroller/nanoscroller.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../js/jquery.easypiechart/jquery.easy-pie-chart.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../js/bootstrap.switch/bootstrap-switch.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../js/jquery.select2/select2.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../js/bootstrap.slider/css/slider.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../js/jquery.niftymodals/css/component.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{../js/jquery.datatables/bootstrap-adapter/css/datatables.css}" />
    <link th:href="@{../js/jquery.icheck/skins/square/blue.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet" />

    <style type="text/css">
        a:link {color: #000000} /* 未访问的链接 */
    </style>
</div>