<!DOCTYPE html>
<html lang="zn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--页头 start-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>电子人云平台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../../static/css/webuploader.css"/>
    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>


</head>
<!--页头 end-->
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">

            <h1 class='title'>如何填写?</h1>
        </header>
        <div class="content">
            <div class="card">
                <div class="card-content">
                    <div class="card-content-inner">

                        1.申请页面：
                                请填写您的准备修改成的新手机号进行核验;<br/>
                        2.基本信息页面：
                                姓名、城市、注册手机号、新手机号、车牌号、身份证号、银行卡号请如实填写；
                                是否换绑过车辆：如果历史有换绑过车辆，请勾选是;<br/>
                         3.登录信息页面：
                                请在滴滴司机端退出当前帐号后重新登录。
                                如果重新登录成功，请选择：重新登录成功；
                                如果重新登录失败，提示密码错误或需要验证码，请选择：重新登录失败。
                                首次使用时间：第一次用原手机号登录滴滴司机端的时间
                                最后使用时间：最后一次用滴滴司机端的时间<br/>
                         4.注册手机号信息页面：
                                原手机号失效时间：什么时候注销、丢失原手机号的
                                原手机号失效地点：在什么地方注销、丢失原手机号
                                原手机号失效原因：请填写详细原因，因xx原因注销／丢失<br/>
                         5.资料上传：
                                手持身份证照片：请手持身份证照片，将身份证正面置于胸前拍半身照即可，身份证信息需清晰可见；
                                驾驶证照片：请拍摄驾驶证有证件信息的那一页的照片；
                                新手机号购买凭证：如订单截图、购买发票照片、营业厅出示的证明；
                                其他证明身份的照片：如以前的滴滴提现记录截图、滴滴接单短信相关记录等<br/>
                         6.信息提交后请耐心等待，我们会为您尽快进行审核，并通知到您结果。
                    </div>
                </div>
            </div>
        </div>



        <div class="content-inner">


        </div>
    </div>
</div>

<script>
    $.init();
</script>

</body>
</html>