<!DOCTYPE html>
<html lang="zn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--页头 start-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>电子人云平台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>



</head>
<!--页头 end-->
<body>

<div class="page-group">
    <!-- 你的html代码 -->

</div>

<script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type="text/javascript" src="https://g.alicdn.com/msui/sm/0.6.2/js/sm-city-picker.min.js" charset="utf-8"></script>

<script type="application/javascript" src="../myjs/mobile/register_info.js"></script>
<script>
    $.init();
</script>

</body>
</html>