<!DOCTYPE html>
<html lang="zn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--页头 start-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>电子人云平台</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../../static/css/webuploader.css"/>
    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
    <script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='https://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js' charset='utf-8'></script>
    <script type='text/javascript' src='https://cdn.staticfile.org/webuploader/0.1.0/webuploader.html5only.min.js' charset='utf-8'></script>


</head>
<!--页头 end-->
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">

            <h1 class='title'>资料上传成功</h1>
        </header>
        <div class="content" style="text-align: center">
            <h5>您的信息已经提交成功,我们将在2个工作日内通过短信告知结果,请耐心等待审核!</h5>
        </div>
    </div>
</div>

<script type="application/javascript" src="../myjs/mobile/photo_info.js"></script>
<script>
    $.init();
</script>

</body>
</html>