<!DOCTYPE html>
<html lang="zn"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--页头 start-->
<head>
   <div th:replace="common/header2:: common_header"></div>
</head>
<!--页头 end-->
<body>
<!-- Fixed navbar -->
<div th:include="common/navbar:: common_navbar"></div>

<div id="cl-wrapper">
    <div th:replace="common/sidebar:: common_sidebar"></div>


    <!--content-start-->
    <div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>用户管理</h2>
        <ol class="breadcrumb">
            <li><a href="#">系统管理</a></li>
            <li class="active"><a href="#">用户管理</a></li>
        </ol>
    </div>
    <div class="cl-mcont">

        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <button class="btn btn-success btn-flat" data-toggle="modal" data-target="#addModal">添加用户</button>
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="datatable" >
                                <thead>
                                <tr>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>手机号</th>
                                    <th>微信</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr class="odd gradeX">
                                    <td>Trident</td>
                                    <td>Internet
                                        Explorer 4.0</td>
                                    <td>Win 95+</td>
                                    <td class="center"> 4</td>
                                    <td class="center"></td>
                                </tr>

                                <tr class="gradeU">
                                    <td>Other browsers</td>
                                    <td>All others</td>
                                    <td>-</td>
                                    <td class="center">-</td>
                                    <td class="center">U</td>
                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>
    </div>

<!--content-end-->







    <!-- add Modal -->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="col-sm-12 col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h4>添加用户信息</h4>
                    </div>
                    <div class="content">
                        <form action="add" method="post" id="add_form">
                            <div class="form-group">
                                <label>用户名</label>
                                <input type="text" id="add_name" name="username" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group">
                                <label>手机号</label>
                                <input type="text" id="add_mobile" name="mobile" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group">
                                <label>邮箱</label>
                                <input type="email" id="add_email" name="email" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group">
                                <label>微信</label>
                                <input type="text" id="add_wechat" name="wechat" class="form-control" placeholder="唯一"/>
                            </div>
                            <div class="form-group">
                                <label>角色</label>
                                <select id="add_role" name="role" class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>备注</label>
                                <input type="text" id="add_remark" name="remarks" class="form-control" placeholder="唯一"/>
                            </div>
                            <div class="modal-footer" style="">
                                <button type="button" class="btn btn-default btn-flat md-close " data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-success btn-flat md-close" data-dismiss="modal" onclick="add()">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- edit Modal -->
    <div class="modal fade" id="editModal">
        <div class="modal-dialog">
            <div class="col-sm-12 col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h4>修改用户信息</h4>
                    </div>
                    <div class="content">
                        <form action="update" method="post" id="edit_form">
                            <div class="form-group">
                                <label>用户名</label>
                                <input type="hidden" id="edit_id" name="id"/>
                                <input type="text" id="edit_name" name="username" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group">
                                <label>手机号</label>
                                <input type="text" id="edit_mobile" name="mobile" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group">
                                <label>邮箱</label>
                                <input type="email" id="edit_email" name="email" class="form-control" placeholder=""/>
                            </div>
                            <div class="form-group">
                                <label>微信</label>
                                <input type="text" id="edit_wechat" name="wechat" class="form-control" placeholder="唯一"/>
                            </div>
                            <div class="form-group">
                                <label>角色</label>
                                <select id="edit_role" name="role" class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>备注</label>
                                <input type="text" id="edit_remark" name="remarks" class="form-control" placeholder="唯一"/>
                            </div>
                            <div class="modal-footer" style="">
                                <button type="button" class="btn btn-default btn-flat md-close " data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-success btn-flat md-close" data-dismiss="modal" onclick="update()">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="i-circle success"><i class="fa fa-warning"></i></div>
                        <h4><div id="del_info"></div>将要删除!</h4>
                        <input id="del_id" type="hidden"/>
                        <p id="check_msg"></p>
                        <input id="check_id" type="hidden"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="deleteOk()">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!--遮罩-->
    <div class="md-overlay"></div>




</div>
<!--页脚 start-->
<div th:include="common/foot2:: common_foot"></div>
<!--页脚 end-->

<!--myjs-->
<script type="application/javascript" src="../myjs/user/index.js"></script>
</body>
</html>